<mat-toolbar color="primary">
    <mat-toolbar-row>
        <button mat-icon--button>
            <mat-icon>menu</mat-icon>
        </button>
        

        <span>LOGO</span>
        <div fxFlex fxLayout="row" fxLayoutAlign="flex-end">
            <ul fxLayout="row" fxLayoutGap="15px">
                <li>
                    <button mat-icon-button>
                        <mat-icon>settings</mat-icon>
                    </button>
                </li>
                <li>
                    <button mat-icon-button>
                        <mat-icon>Assist</mat-icon>
                    </button>
              
                </li>
                <li>
                    <button mat-icon-button>
                        <mat-icon>Menu</mat-icon>
                    </button>
                </li>
                <li>
                    <button mat-icon-button>
                        <mat-icon>Menu</mat-icon>
                    </button>
                    
                </li>
                
            </ul>

           


        </div>
    </mat-toolbar-row>
</mat-toolbar>
